SUPABASE_URL=https://qzlrgmgixdlqedwiiwba.supabase.co
SUPABASE_SERVICE_KEY=your_supabase_service_key
SUPABASE_ANON_KEY=your_supabase_anon_key


TELEGRAM_BOT_TOKEN=your_telegram_bot_token
SENDGRID_API_KEY=SG.xxxxxxxxxxxxxxxxxxxx.xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
SENDGRID_FROM=patelhet.0507@gmail.com
